/* default styles folder for all project in porfolio*/
:root {
  /* HSLa Primary */
  --black-10: hsla(120, 100%, 0%, .1);
  --black-40: hsla(120, 100%, 0%, .4);
  --black-70: hsla(120, 100%, 0%, .7);
  --black-100: hsla(120, 100%, 0%, 1);
  --blue-10: hsla(240, 100%, 50%, .1);
  --blue-40: hsla(240, 100%, 50%, .4);
  --blue-70: hsla(240, 100%, 50%, .7);
  --blue-100: hsla(240, 100%, 50%, 1);
  --gray-10: hsla(120, 0%, 50%, .1);
  --gray-40: hsla(120, 0%, 50%, .4);
  --gray-70: hsla(120, 0%, 50%, .7);
  --gray-100: hsla(120, 0%, 50%, 1);
  --green-10: hsla(120, 100%, 50%, .1);
  --green-40: hsla(120, 100%, 50%, .4);
  --green-70: hsla(120, 100%, 50%, .7);
  --green-100: hsla(120, 100%, 50%, 1);
  --red-10: hsla(0, 100%, 50%, .1);
  --red-40: hsla(0, 100%, 50%, .4);
  --red-70: hsla(0, 100%, 50%, .7);
  --red-100: hsla(0, 100%, 50%, 1);
  --white-10: hsla(120, 100%, 100%, .1);
  --white-40: hsla(120, 100%, 100%, .4);
  --white-70: hsla(120, 100%, 100%, .7);
  --white-100: hsla(120, 100%, 100%, 1);
  --yellow-10: hsla(60, 100%, 50%, .1);
  --yellow-40: hsla(60, 100%, 50%, .4);
  --yellow-70: hsla(60, 100%, 50%, .7);
  --yellow-100: hsla(60, 100%, 50%, 1);
  /* Dark Palette*/
  --dark-blue: #191970;
  --dark-gold: #b8860b;
  --dark-green: #006400;
  --dark-khaki: #bdb76b;
  --dark-magenta: #8b008b;
  --dark-orange: #ff8c00;
  --dark-orchid: #9932cc;
  --dark-red: #8b0000;
  --dark-slate: #8b008b;
  /* Base Palette */
  --aqua: #66cdaa;
  --blue: #4169e1;
  --coral: #ff7f50;
  --gold: #ffd700;
  --green: #008000;
  --indigo: #4b0082;
  --lime: #00ff00;
  --magenta: #e310cb;
  --maroon: #800000;
  --navy:	#000080;
  --orchid:	#da70d6;
  --olive: #808000;
  --plum: #ba55d3;
  --purple:	#800080;
  --silver: #c0c0c0;
  --yellow: #ffff00;
  --violet: #c71585;
  /*Greyscale*/
  --almond: #ffebcd;
  --antique-white: #faebd7;
  --beige: #f5f5dc;
  --black: #000;
  --ghost: #f8f8ff;
  --lite-slate-grey: #778899;
  --slate-grey: #708090;
  --dark-slate-grey: 	#2f4f4f;
  --grey-dark-mag: #937B92;
  --grey-lite-mag: #F7F2F7;
  --honeydew: #f0fff0;
  --ivory: #fffff0;
  --mint: #f5fffa;
  --smoke: #f5f5f5;
  --var-black: #171321;
  --white: #fdf5e6;
  /* Variants */
  --cornflower: #6495ed;
  --firebrick: #b22222;
  --hot-magenta: #ff17e4;
  --hot-pink: #ff69b4;
  --med-orchid: #ba55d3;
  --salmon: #fa8072;
  --seagreen: #2e8b57;
  --sienna: #a0522d;
  --slate: #708090;
  --soft-pink: #EE68A4;
  --very-dark-mag: #502050;
  /*Typography*/
  --small: small-caps;
  --bold: bold;
  --lite: lighter;
  --boldest: bolder;
  --tiny: 0.875rem;
  --font: 1.25rem;
  --body: 1.275rem;
  --tween: 1.45rem;
  --lists: 1.65rem;
  --quote: 1.875rem;
  --link: 2.25rem;
  --intro: 2.5rem;
  --button: 2.75rem;
  --header: 3.74rem;
  --title: 4.25rem;
  --dashes: dashed;
  --under: underline;
  --arial: Verdana, Arial, Helvetica, sans-serif;
  --curve:  "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery",cursive;
  --fans: Papyrus, Herculanum, "Party LET", "Curlz MT", Harrington, fantasy;
  --mono: "Fira Mono", "Liberation Mono", "Lucida Console", Monaco, Courier, monospace;
  --sans: "Gill Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans",sans-serif;
  --serif: "Hoefler Text", Baskerville, Lucida, "Palatino Linotype", "URW Palladio", serif;
  --times: Times, "Times New Roman", Georgia, serif;
  --impact: Impact, 'Arial Narrow', 'Arial Black';
  --san-serif: Geneva, Tahoma, Helvetica, Arial, sans-serif;
}
/* generic styles for all pages */
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:
      url(../svg/bg-pattern-bottom-desktop.svg) bottom right no-repeat fixed,
      url(../svg/bg-pattern-top-desktop.svg) left top no-repeat fixed;
  }
header {
  padding: 12px 18px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--black-70);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--black-70);
  font-size: var(--body);
  color: var(--silver);
  opacity: 0.9;
}
a {
  font-size: var(--link);
  color: var(--gold);
  text-decoration-style: none;
}
p {
  font-size: var(--body);
  font-family: var(--times);
  text-align: center;
  text-shadow:  1px -1px 2px var(--white-70);

}
hr {
  border: 3px solid var(--black-100);
  box-shadow: 3px 7px 5px var(--silver);

}
a:hover {
  color: var(--dark-gold);
}
h1 {
  margin: 0;
  padding: 0;
  color: var(--white-70);
  font-size: var(--title);
  font-family: var(--fans);
  text-shadow: -4px 4px 5px var(--black-100), 1px -1px 2px var(--white-100);
}
h2 {
  margin: 0;
  padding: 0;
  font-size: var(--header);
  font-family: var(--arial);
  text-shadow: -4px 4px 3px var(--black-70),
                1px -1px 2px var(--gray-40),
                1px -1px 2px var(--white-70);
}
h3{
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: var(--intro);
  font-family: var(--times);
}
h4 {
  font-size: var(--button);
  font-family: var(--serif);
}
h5 {
  font-size: var(--font);
  font-family: var(--sans);
}
h6 {
  font-size: var(--tiny);
  font-family: var(--mono);
}
ul>li {
  list-style-position: inside;
  list-style-type: circle;
  margin: 0 auto;
  text-align: justify;
}
ol>li {
  list-style-position: inside;
  list-style-type: upper-roman;
  margin: 0 auto;
}
figcaption {
  font-size: var(--font);
  font-family: var(--curve);
}