*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:
      url(../assets/images/bg-stars.svg),
      url(../assets/images/bg-pattern-bottom-desktop.svg) bottom right no-repeat fixed,
      url(../assets/images/bg-pattern-top-desktop.svg) left top no-repeat fixed;
  }
  input {
    width: 75%;
  }