/* tabbed work history box code adapted from https://mdn.tlm.cloud/en-US/docs/Web/CSS/ **/
.info-box {
  text-align: center;
  overflow: auto;
  border-radius: 18px;
  background-color: rgba(255,255,255, 0.4);
  background-image:
    linear-gradient(45deg, rgba(0,0,0, 33%),
                    rgba(204,204,204, 66%));
  border: 3px solid rgba(75,75,75, 0.7);
  box-shadow: 0 0 15px 8px var(--very-dark-mag);
  max-width: auto;
  max-height: auto;
  margin: 28px auto;
  padding: 15px;
  color: var(--black-100);
  overflow: auto;
}
.info-box ul {
  padding-left: 0;
  margin-top: 0;
}
.info-box li {
  float: left;
  list-style-type: none;
  width: 175px;
}

.info-box li a {
  display: inline-block;
  text-align: center;
  overflow: auto;
  border-radius: 18px;
  background-color: rgba(255,255,255, 0.4);
  background-image:
    linear-gradient(45deg, rgba(0,0,0, 33%),
                    rgba(204,204,204, 66%));
  border: 3px solid rgba(75,75,75, 0.7);
  box-shadow: 0 0 15px 8px var(--black-40);
  width: 175px;
  margin: 0 auto;
  padding: 15px;
  color: var(--black-100);
}
.info-box li a:focus, .info-box li a:hover {
  background-color: var(--dark-magenta);
  color: var(--white-100);
}

.info-box li a.active {
  background-color: var(--very-dark-mag);
  color: var(--white-100);
}
.info-box .panels {
  min-height: 50vh;
  position: relative;
  clear: both;
}
.info-box article {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  padding: 10px;
  color: white;
  font-family: var(--serif);
  text-shadow: -4px 4px 1px var(--very-dark-mag),
                1px -1px 4px var(--black-100);
  box-shadow: 0 0 15px 8px var(--black-40);
  background-color: var(--very-dark-mag);
  border: 3px solid var(--black-100);
  border-radius: 18px;
  overflow: auto;
}

.info-box .active-panel {
  z-index: 1;
}