/*contains button styles for all pages in portfolio*/

/* global .btn-links class settings*/
#answer {
  line-height: 2.25;
  background: #a9a9a9;
  text-shadow: -4px 4px 3px var(--grey-dark-mag), 1px -1px 2px var(--var-black);
  box-shadow: 12px 12px 24px rgba(0,0,0,.5);
  font-weight: bold;
  border-radius: 14px;
  border-width: 8px;
  border-style: solid;
  text-decoration: none;
  border-top-color: #dfdfdf;
  border-right-color: #666;
  border-bottom-color: #333;
  border-left-color: #858585;
}
#form-answer {
  max-height: 25%;
  max-width: fit-content;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.025;
  font-family: Arial, sans-serif;
  text-shadow: -4px 4px 3px var(--grey-dark-mag), 1px -1px 2px var(--var-black);
  box-shadow: 12px 12px 24px rgba(0,0,0,.5);
  font-weight: bold;
  border-width: 8px;
  border-style: solid;
  text-decoration: none;
  border-top-color: #dfdfdf;
  border-right-color: #666;
  border-bottom-color: #333;
  border-left-color: #858585;
}
#button {
  float: right;
  clear: both;
  max-width: fit-content;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.025;
  font-family: Arial, sans-serif;
  background: #a9a9a9;
  text-shadow: -4px 4px 3px var(--grey-dark-mag), 1px -1px 2px var(--var-black);
  box-shadow: 12px 12px 24px rgba(0,0,0,.5);
  font-weight: bold;
  border-width: 8px;
  border-style: solid;
  text-decoration: none;
  border-top-color: #dfdfdf;
  border-right-color: #666;
  border-bottom-color: #333;
  border-left-color: #858585;
}
#answer:hover,
#button:hover {
  color: var(--yellow-100);
  background: #696969;
  text-shadow: 2px 4px 7px var(--black-100);
  cursor: pointer;
}
.hidden-button {
  background-color: var(--yellow-40);
  background-image: -webkit-linear-gradient(top, var(--yellow-70) 0% #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, var(--yellow-70) 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, var(--yellow-70) 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, var(--yellow-70) 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 12px var(--blue-70);
  padding: 12px 20px 14px 20px;
  text-decoration: none;
  color: var(--very-dark-mag);
  font: bold 20px/1 “helvetica neue”, helvetica, arial, sans-serif;
  text-align: center;
  text-shadow: 0px -1px 12px rgba(0, 0, 0, 0.8);
  margin: 12px auto;
}
.hidden-button:hover {
  color: var(--black-100);
  background-color: var-(--yellow-70);
}
.btn-links:link,
.sponsor:link,
.button:link {
  color: var(--blue-70);
}
.btn-links:visited,
.sponsor:visited,
.button:visited {
  color: var(--red-70);
}
.btn-links:hover,
.sponsor:hover,
.button:hover {
  color: var(--green-70);
}
.btn-links:active,
.sponsor:active,
.button:active {
  color: var(--gray-70);
}
.sponser,
.button,
.btn-links {
  float: right;
  clear: both;
  max-width: fit-content;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.025;
  font-family: Arial, sans-serif;
  background: #a9a9a9;
  text-shadow: -4px 4px 3px var(--grey-dark-mag), 1px -1px 2px var(--var-black);
  box-shadow: 12px 12px 24px rgba(0,0,0,.5);
  font-weight: bold;
  border-width: 8px;
  border-style: solid;
  text-decoration: none;
  border-top-color: #dfdfdf;
  border-right-color: #666;
  border-bottom-color: #333;
  border-left-color: #858585;
}
.button:hover,
.btn-links:hover,
.dropped:hover,
.no-drop:hover {
  background: #696969;
  cursor: pointer;
}
.dropped,
.no-drop {
  float: right;
  clear: both;
  max-width: fit-content;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.025;
  font-family: Arial, sans-serif;
  background: #a9a9a9;
  text-shadow: -4px 4px 3px var(--grey-dark-mag), 1px -1px 2px var(--var-black);
  box-shadow: 12px 12px 24px rgba(0,0,0,.5);
  font-weight: bold;
  border-width: 8px;
  border-style: solid;
  text-decoration: none;
  border-top-color: #dfdfdf;
  border-right-color: #666;
  border-bottom-color: #333;
  border-left-color: #858585;
}
.dropped:hover {
  background: #696969;
  cursor: pointer;
}
.no-drop:hover {
  background: #696969;
  cursor: no-drop;
}
.post-link {
  line-height: 2.25;
  background: #a9a9a9;
  text-shadow: -4px 4px 3px var(--grey-dark-mag), 1px -1px 2px var(--var-black);
  box-shadow: 12px 12px 24px rgba(0,0,0,.5);
  font-weight: bold;
  border-radius: 14px;
  border-width: 8px;
  border-style: solid;
  text-decoration: none;
  border-top-color: #dfdfdf;
  border-right-color: #666;
  border-bottom-color: #333;
  border-left-color: #858585;
}
.blog {
  list-style-type: none;
}
.hidden li, a {
  list-style-type: none;
  list-style-position: inside;
  text-align: justify;
  font-size: var(--font);
  font-variant: var(--small);
  line-height: 1.25;

}