/* Typography & Color Palette */
:root {    
    /* Monochrome palette for #1b2520*/
    
    --key-green: #1b2520;
    --firstLt-green: #40594d;
    --secondLt-green: #678e7a;
    --firstDk-green: #151e1a;
    --secondDk-green: #111814;
    
    /* Monochrome palette for #ededed */
       
    --firstLt-grey: #f0f0f0;
    --secondLt-grey: #f5f5f5;
    --key-grey: #ededed;
    --firstDk-grey: #bdbdbd;
    --secondDk-grey: #8f8f8f;

    /* Cool Grayscales for #28a034 */
    
    --first-coolGrays-color: #cbcbd9;
    --second-coolGrays-color: #a1a1af;
    --third-coolGrays-color: #777785;
    --fourth-coolGrays-color: #4d4d5b;
    --fifth-coolGrays-color: #232331;
   /* Triads palette for #28a034 */
    
    --key-triad-color: #28a034;
    --second-triad-color: #34289f;
    --third-triad-color: #9f3428;  

    /* Complementary palette for #9f3428 */

    --first-comp-color: #9f2893;
    --second-comp-color: #569f28;
    --third-comp-color: #28919f;

    --futura: 'Futura Medium';
    --futura-italic: 'Futura Medium Italic';
    --futura-bold: 'Futura Bold';
    --typewriter: 'American Typewriter Condensed';

    }

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--key-triad-color);
    background-color: var(--key-green);
}
    *,
    *::before,
    *::after {
    box-sizing: inherit;
}
li {
    list-style-position: inside;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--third-triad-color);
}
